Django~=2.2.4
asn1crypto==0.24.0
cryptography==2.1.4
enum34==1.1.6
et-xmlfile==1.0.1
idna==2.6
ipaddress==1.0.17
jdcal==1.4.1
keyring==10.6.0
keyrings.alt==3.0
openpyxl==2.6.4
pycrypto==2.6.1
pygobject==3.26.1
python-decouple==3.5
pyxdg==0.25
SecretStorage==2.3.1
six==1.11.0
virtualenv==15.1.0
